{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{%block extraassets%}
  {{ wizard.form.media }}
{%endblock%}

{%block agenciado_active%}active{%endblock%}

{% block content %}
<!-- Modal -->
<a href="#myModal" role="button" class="btn" data-toggle="modal">Launch demo modal</a>
<form action="" enctype="multipart/form-data" method="post">{% csrf_token %}
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
<h1>Paso {{ wizard.steps.step1 }} de {{ wizard.steps.count }}</h1>
        </div>
              <div class="modal-body">
<table>
{{ wizard.management_form }}
{% if wizard.form.forms %}
    {{ wizard.form.management_form }}
      {% for error in wizard.form.non_form_errors %}
        <div class='alert alert-error'>{{ error }}</div>
      {% endfor %}
        {% for form in wizard.form.forms %}
                {{ form|crispy }}
                    {% endfor %}
                    {% else %}
                        {{ wizard.form|crispy }}
                        {% endif %}
                        </table>

                    </div>
                      <div class="modal-footer">
                        {% if wizard.steps.prev %}
                        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                        <button class="btn" name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}">{% trans "first step" %}</button>
                        <button class="btn" name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">{% trans "prev step" %}</button>
                        {% endif %}
                        <input class="btn btn-primary" type="submit" value="{% trans "submit" %}"/>
                                </div>
                                </div>
                        </form>
      <script>
        input_fecha_nacimiento = $('#id_0-fecha_nacimiento');
        if (input_fecha_nacimiento.length>0)
          input_fecha_nacimiento.datepicker({format: 'yyyy-mm-dd'});
        $('#myModal').modal();
      </script>
                        {% endblock %}
